body{
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    text-align: center;

}

.game-container{
    display: inline-block;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.tile {
    width: 100px;
    height: 100px;
    background: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;

}

.tile-2{
    background: #fff;
    color: #000;
}
.tile-4{
    background: #fff;
    color: #000;
}
.tile-8{
    background: #fff;
    color: #000;
}
.tile-16{
    background: #fff;
    color: #000;
}
.tile-32{
    background: #fff;
    color: #000;
}
.tile-64{
    background: #fff;
    color: #000;
}
.tile-128{
    background: #fff;
    color: #000;
}
.tile-256{
    background: #fff;
    color: #000;
}
.tile-512{
    background: #fff;
    color: #000;
}
.tile-1024{
    background: #fff;
    color: #000;
}
.tile-2048{
    background: #fff;
    color: #000;
}