body{
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    text-align: center;

}

.game-container{
    display: inline-block;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.tile {
    width: 100px;
    height: 100px;
    background: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;

}

.tile-2{
    background: #61e0f4;
    color: #000;
}
.tile-4{
    background: #15b2ca;
    color: #121212;
}
.tile-8{
    background: #2992d8;
    color: #121212;
}
.tile-16{
    background: #0a59c8;
    color: #fff;
}
.tile-32{
    background: #1d35d3;
    color: #fff;
}
.tile-64{
    background: #3e30b6;
    color: #fff;
}
.tile-128{
    background: #1e0f9f;
    color: #fff;
}
.tile-256{
    background: #441596;
    color: #fff;
}
.tile-512{
    background: #6c04b1;
    color: #fff;
}
.tile-1024{
    background: #38025c;
    color: #fff;
}
.tile-2048{
    background: #e101ff;
    color: #fff;
}

.score-container {
    margin-top: 20px;
    font-size: 24px;
    color: #785aac;
}

button#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #15b2ca;
    color: #0a3833;
    border-radius: 4px;
    cursor: pointer;
}

button#restart:hover{
    background-color: #0a59c8;
    color: #fff;
}

.instructions {
    font-size: 16px;
}